---
title: About | benoitbiraguma
description: Endlessly Creative, Tech-Savvy and Communicative. Learn more about me, Benoît Biraguma, a Full-stack Javascript Web Developer and Graphic Designer.
---

{% extends "layouts/default.njk" %}

{% block main %}
<section class="about">
    <p class="about__intro">Let's keep it short?</p>
    <h1>Endlessly Creative <img class="about__icon" src="/assets/images/infinite.svg" alt="infinite">,</h1>
    <h1>Tech-Savvy <img class="about__icon" src="/assets/images/tech-geek.svg" alt="geek"> and</h1>
    <h1>Communicative <img class="about__icon" src="/assets/images/communicative.svg" alt="communicative"></h1>
</section>
{% endblock %}