---
title: Graphic Design | benoitbiraguma
description: Immerse yourself in my portfolio of graphic design projects, where I blend creativity with visual storytelling. Each design is a reflection of my passion for creating unique and engaging visuals that leave a lasting impression.

pageTitle: Immerse in my Infinite Creativity
pageIcon: infinite

summaryTitle: Mentioned projects
---
{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {% if pageTitle %}
        {{ components.pageHeader(pageTitle, pageIcon) }}
    {% endif %}
    {{ components.gallery(graphicDesignProjects) }}
    {{ components.summary(graphicDesignProjects, summaryTitle) }}
    <script src="/assets/scripts/unmuteButton.js"></script>
    <script src="/assets/scripts/loadContent.js"></script>
{% endblock %}