---
title: benoitbiraguma
theme: dark-background
---

{% import "components/general.njk" as components %}
{% extends "layouts/base.njk" %}

{% block body %}
<section class="hero hero--dev">
    <div class="code-animation">
        <img src="assets/images/code.svg" class="code">
    </div>
    <div>
        {% include "partials/header.njk" %}
        <div class="hero__content">
            <h1 class="dev__title">I’m a Full-stack Web Developer</h1>
            {{components.heroButton('dev projects', 'hero__button--dev', 'web-development-projects', 'devButton')}}
        </div>
    </div>
    {% include "partials/footer.njk" %}
</section>
<section class="hero hero--designer">
    <div class="ball-animation">
        <img src="assets/images/ball-1.png" class="ball ball-1">
        <img src="assets/images/ball-2.png" class="ball ball-2">
    </div>
    {% include "partials/header.njk" %}
    <div>
        <div class="hero__content">
            {{components.heroButton('design projects', 'hero__button--designer', 'graphic-design-projects', 'designerButton')}}
            <h1 class="designer__title">a Graphic Designer.</h1>
        </div>
        {% include "partials/footer.njk" %}
    </div>
</section>
<script src="/assets/scripts/home.js"></script>
{% endblock %}