---
title: Web Development | benoitbiraguma
description: Step into my world of web development projects, where I bring ideas to life through innovative and user-friendly websites. As a full-stack Javascript developer, I focus on creating digital experiences that are both functional and visually compelling.

theme: dark

pageTitle: Inventive Innovation of a Tech Geek
pageIcon: tech-geek
---
{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {% if pageTitle %}
        {{ components.pageHeader(pageTitle, pageIcon) }}
    {% endif %}
    {{ components.webProjects(webDevelopmentProjects) }}
    <script src="/assets/scripts/fadeProjects.js"></script>
{% endblock %}