---
title: Web Development | benoitbiraguma
theme: dark

pageTitle: Inventive Innovation of a Tech Geek
pageIcon: tech-geek
---
{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {% if pageTitle %}
        {{ components.pageHeader(pageTitle, pageIcon) }}
    {% endif %}
    {{ components.webProjects(collections.wd) }}
    <script src="/assets/scripts/fadeProjects.js"></script>
{% endblock %}