/*
===========================
GLOBAL STYLES
===========================
*/

:root {
    --dark: hsl(209, 20%, 21%);
    --light: hsl(187, 62%, 87%);
    --primary: hsl(187, 84%, 59%);
    --primary85: hsla(187, 84%, 59%, 0.85);
    --white: hsl(34, 100%, 99%);
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
        url('../../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kugile';
    src: url('../../fonts/Kugile/Kugile.woff2') format('woff2'),
        url('../../fonts/Kugile/Kugile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    background-color: var(--white);
    position: relative;
    & *::selection {
        background-color: var(--primary85);
        color: var(--dark);
    }
}

/* Dark theme */
.dark {
    color: var(--white);
    background-color: var(--dark);
    & a,
    & .link-hover__label {
        color: var(--white);
    }
}

/* Dark background */
.dark-background {
    background-color: var(--dark);
}

/* Light theme with grainy background */
.grainy {
    &::before {
        content: "";
        background-image: url(../../images/grainy-background.webp);
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.4;
    }
}

h1 {
    font-size: 4.25rem;
    font-weight: normal;
    line-height: 1.2;
    &.dev__title {
        font-family: 'Roboto Mono', monospace;
        width: 50%;
        @media (max-width: 80rem) {
            width: 100%;
        }
        @media (max-height: 56rem) {
            font-size: 2rem;
        }
    }
    &.designer__title {
        font-family: 'Kugile', sans-serif;
        font-size: 5.75rem;
        margin-left: auto;
        width: 50%;
        position: relative;
        top: 2rem;
        @media (max-width: 80rem) {
            width: 100%;
        }
        @media (max-width: 62rem) {
            font-size: 3.4rem;
        }
        @media (max-height: 56rem) {
            font-size: 2.4rem;
        }
    }
    @media (max-width: 62rem) {
        font-size: 2.75rem;
    }
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--dark);
    text-decoration: none;
    &:hover {
        color: var(--primary);
        transition: 0.2s ease-in-out;
    }
}

/* links */
.link-hover {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1.875rem;
    & .link-hover__label {
        width: 100%;
        position: relative;
        right: 100%;
        transition: 0.5s ease-in-out;
        @media (max-width: 48rem) {
            display: none;
        }
    }
    & .link-hover__svg {
        max-width: 1rem;
        width: 100%;
        z-index: 1;
        transition: 0.5s ease-in-out;
        @media (max-width: 48rem) {
            max-width: 3.75rem;
        }
    }
    & .down {
        transform: rotate(90deg);
    }
    &:hover {
        color: var(--dark);
        & .link-hover__label {
            right: 0;
            transition: 0.5s ease-in-out;
        }
    }
}

.live-link,
.repo-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: .9375rem;
    & .live-link__svg,
    & .repo-link__svg {
        position: relative;
        max-width: 1rem;
        width: 100%;
        }
    &:hover .live-link__svg,
    &:hover .repo-link__svg {
        bottom: 2px;
        left: 2px;
    }
    & .live-link__svg {
        transform: rotate(-45deg);
    }
}

header {
    padding-bottom: 3.75rem;
    @media (max-width: 48rem) {
        padding-bottom: 1.875rem;
    }
}

footer {
    padding-top: 3.75rem;
    @media (max-width: 48rem) {
        padding-top: 1.875rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8125rem 3.75rem;
    @media (max-width: 48rem) {
        padding: 1.75rem 1.875rem;
    }
}

.main__inner {
    padding: 0 3.75rem;
    max-width: 75rem;
    margin: 0 auto;
    @media (max-width: 48rem) {
        padding: 0 1.875rem;
    }
}

/*
===========================
LOADING ANIMATION
===========================
*/

#loadingScreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dark #loadingScreen {
    background-color: var(--dark);
}

.loader {
    border: 2px solid var(--light);
    border-top: 2px solid var(--primary);
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
===========================
HOMEPAGE
===========================
*/

/* Hero section */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Hero section (developper) */
.hero--dev {
    position: relative;
    color: var(--white);
    & a {
        color: var(--white);
    } & a:hover {
        color: var(--primary);
    } & .button--dev:hover {
        color: var(--white);
    }
    &::after {
        content: "&";
        font-size: 9rem;
        line-height: 0.8;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        @media (max-height: 48rem) {
            font-size: 6rem;
        }
    }
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: var(--dark);
        z-index: -2;
    }
}

/* Hero section (designer side) */
.hero--designer {
    background-color: var(--white);
    & .hero__content {
        text-align: right;
    }
    clip-path: polygon(56% 0, 100% 0, 100% 100%, 43% 100%);
    @media (max-width: 80rem) {
        clip-path: polygon(100% 30%, 100% 100%, 0 100%, 0 70%);
    }
    @media (max-width: 48rem) {
        clip-path: polygon(100% 42%, 100% 100%, 0 100%, 0 58%);
    }
    &::after {
        content: "";
        background-image: url(../../images/&-Amandine-font.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 6.75rem;
        width: 6.75rem;
        position: absolute;
        top: 50%;
        right: 49.6%;
        transform: translate(50%, -50%);
        @media (max-width: 80rem) {
            top: 49%;
        }
        @media (max-height: 48rem) {
            height: 4.5rem;
            width: 4.5rem;
        }
    }
    &::before {
        content: "";
        background-image: url(../../images/grainy-background.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.4;
    }
}

/* Hero content */
.hero__content {
    padding: 0 7.5rem;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    @media (max-width: 80rem) {
        padding: 0 3.75rem;
    }
    @media (max-width: 48rem) {
        padding: 0 1.875rem;
    }
}

/* Hero button */
.hero__button {
    display: inline-block;
    max-width: 16rem;
    width: 100%;
    text-align: center;
    padding: 1.25rem 2.5rem;
    border: solid 2px var(--primary);
    @media (max-width: 48rem) {
        max-width: 14rem;
        padding: 1rem 2rem;
    }
}

/* Hero button (developper) */
.hero__button--dev {
    margin-top: 3.75rem;
    transition: 0.4s ease-in-out;
    background-color: var(--dark);
    &:hover {
        box-shadow: 0px 0px 25px 5px hsla(187, 100%, 50%, 0.14);
        transition: 0.4s ease-in-out;
    }
    @media (max-width: 48rem) {
        margin-top: 1.875rem;
    }
}

/* Hero button (designer) */
.hero__button--designer {
    margin-bottom: 1.75rem;
    border-color: var(--dark);
    border-radius: 50px;
    transition: 0.4s ease-in-out;
    &:hover {
        border-color: var(--primary);
        color: var(--dark);
        transition: 0.4s ease-in-out;
    }
    @media (max-width: 48rem) {
        margin-bottom: 0rem;
    }
}

/* Animation (designer) */
.ball-animation {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    @media (max-width: 80rem) {
        left: 25%;
        top: 35%;
        width: 60%;
    }
    @media (max-width: 48rem) {
        left: 0;
    }
    & .ball {
        position: absolute;
    }
    & .ball-1 {
        width: 75%;
        min-width: 20rem;
        top: 10%;
        left: 22%;
        opacity: 0.4;
        animation: float 6s infinite ease-in-out;
    }
    & .ball-2 {
        width: 55%;
        min-width: 15rem;
        top: 40%;
        left: 5%;
        opacity: 1;
        animation: floatReverse 4s infinite ease-in-out;
    }
    @media (max-width: 80rem) {

    }
}

@keyframes float {
    0% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(8rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}

@keyframes floatReverse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6rem);
    }
    100% {
        transform: translateY(0);
    }
}

/* Animation (developper) */
.code-animation {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    opacity: 0.1;
    @media (max-width: 80rem) {
        left: 60%;
        top: -35%;
    }
    & .code {
        position: absolute;
        top: 44vh;
        left: -6rem;
        min-width: 15rem;
        animation: float2 6s infinite ease-in-out;
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}

/*
===========================
CONTENT PAGE
===========================
*/

/* Page Header component */
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 7.5rem;
    @media (max-width: 48rem) {
        margin-bottom: 3.75rem;
        flex-direction: column;
        gap: 1.875rem;
    }
    & .page-header__title {
        max-width: 45%;
        position: relative;
        left: 3.75rem;
        @media (max-width: 62rem) {
            left: 1.875rem;
        }
        @media (max-width: 48rem) {
            left: 0;
            max-width: 18.75rem;
        }
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            background-color: var(--primary);
            position: absolute;
            top: 0;
            left: -3.75rem;
            @media (max-width: 62rem) {
                left: -1.875rem;
            }
            @media (max-width: 48rem) {
                display: none;
            }
        }
    }
    & .page-header__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 48rem) {
            flex-direction: row-reverse;
        }
    }
}

/* Gallery (designer) */
.gallery {
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
    & .project {
        opacity: 0;
        transition: opacity 1s;
    }
    & .project.visible {
        opacity: 1;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.875rem;
    }
    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.875rem;
        pointer-events: none;
    }
    & .project__media {
        width: 100%;
        position: relative;
    }
    & .unmute-button {
        position: absolute;
        top: 1.875rem;
        left: 1.875rem;
        z-index: 1;
        background: none;
        border: none;
        cursor: pointer;
        & svg {
            width: 1.875rem;
            height: 1.875rem;
            fill: var(--primary);
        }
    }
    @media (max-width: 62rem) {
        gap: 1.875rem;
    }

    & .project--1,
    & .project--2,
    & .project--3,
    & .project--4,
    & .project--5,
    & .project--6 {
        display: flex;
        flex-wrap: wrap;
        gap: 2.8125rem;
        & .project__media--1 {
            width: 100%;
        }
        & .project__media--2,
        & .project__media--3,
        & .project__media--4 {
            flex: 1;
        }
        & .project__right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2.8125rem;
            @media (max-width: 62rem) {
                gap: 1.875rem;
            }
        }
        @media (max-width: 62rem) {
            gap: 1.875rem;
        }
        @media (max-width: 48rem) {
            flex-direction: column;
        }
    }

    /* four images/videos first row 60/40, second row 50/50 */
    & .project--1 {
        & .project__media--1 {
            width: 65%;
        }
        & .project__media--3 {
            width: 47%;
            flex: none;
        }
    }

    /* three images/videos 50(one)/50(two) */
    & .project--3 {
        & .project__media--1 {
            width: 47%;
        }
    }

    /* three images/videos 33/33/33 */
    & .project--4 {
        & .project__media--1 {
            width: 30%;
        }
    }

    /* three images/videos 60(one)/40(two) */
    & .project--5 {
        & .project__media--1 {
            width: 65%;
        }
    }

    /* two images/videos 50/50 */
    & .project--6 {
        & .project__media--1 {
            width: 47%;
        }
    }

    @media (max-width: 48rem) {
        & .project {
            & .project__media {
                width: 100%;
            }
        }
    }
}

/* Summary of the projects (designer) */
.summary {
    margin-top: 7.5rem;
    border-top: solid 2px var(--primary);
    padding-top: 7.5rem;
    padding-bottom: 3.75rem;
    & .summary__title {
        font-weight: 600;
        padding-bottom: 1.875rem;
    }
}

/* Web projects (developper) */
.web-projects {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    transition: 0.2s ease-in-out;
    & .faded {
        opacity: 0.5;
        transition: 0.4s ease-in-out;
    }
    & .web-project {
        display: flex;
        flex-wrap: wrap;
        gap: 1.875rem;
        & .web-project__thumbnail {
            width: 30%;
            @media (max-width: 62rem) {
                width: 40%;
            }
            @media (max-width: 48rem) {
                width: 100%;
            }
        }
        & .web-project__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: .9375rem;
        }
        & .web-project__header,
        & .web-project__links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: .9375rem;
        }
        & .web_project__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem;
            color: var(--primary);
        }
    }
}