{% import "components/links.njk" as links %}

{# Component for the hero button #}
{% macro heroButton(label, class, link, id) %}
<a class="hero__button {{ class }}" href="{{ link }}" id="{{ id }}"><span>{{ label }}</span></a>
{% endmacro %}

{# Component for the page header #}
{% macro pageHeader(pageTitle, pageIcon) %}
<div class="page-header">
    <h1 class="page-header__title">{{ pageTitle }}</h1>
    <div class="page-header__right">
        {{ links.linkHoverEffect('Go back', '/') }}
        <img class="page-header__icon" src="/assets/images/{{ pageIcon }}.svg" alt="page-icon">
    </div>
</div>
{% endmacro %}

{# Component for the gallery #}
{% macro gallery(data) %}
<div class="gallery" id="gallery">
    {% for project in data %}
        <div class="project {{ project.variant.title }}" id="project">
            {% if project.image1 %}
                <div class="project__media project__media--1"><img src="{{ project.image1.url }}" alt="{{ project.image1.fileName }}"></div>
            {% endif %}
            {% if project.video1 %}
                <div class="project__media project__media--1">
                    <video class="custom-video" src="{{ project.video1.url }}" autoplay muted playsinline loop alt="{{ project.video1.fileName }}"></video>
                </div>
            {% endif %}
            {% if project.image2 %}
                <div class="project__media project__media--2"><img src="{{ project.image2.url }}" alt="{{ project.image2.fileName }}"></div>
            {% endif %}
            {% if project.video2 %}
                <div class="project__media project__media--2">
                    <video class="custom-video" src="{{ project.video2.url }}" autoplay muted playsinline loop alt="{{ project.video2.fileName }}"></video>
                </div>
            {% endif %}
            {% if project.variant.rightSide %}
                <div class="project__right">
                    {% if project.image3 %}
                        <div class="project__media project__media--3"><img src="{{ project.image3.url }}" alt="{{ project.image3.fileName }}"></div>
                    {% endif %}
                    {% if project.video3 %}
                        <div class="project__media project__media--3">
                            <video class="custom-video" src="{{ project.video3.url }}" autoplay muted playsinline loop alt="{{ project.video3.fileName }}"></video>
                        </div>
                    {% endif %}
                    {% if project.image4 %}
                        <div class="project__media project__media--4"><img src="{{ project.image4.url }}" alt="{{ project.image4.fileName }}"></div>
                    {% endif %}
                    {% if project.video4 %}
                        <div class="project__media project__media--4">
                            <video class="custom-video" src="{{ project.video4.url }}" autoplay muted playsinline loop alt="{{ project.video4.fileName }}"></video>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if project.image3 %}
                    <div class="project__media project__media--3"><img src="{{ project.image3.url }}" alt="{{ project.image3.fileName}}"></div>
                {% endif %}
                {% if project.video3 %}
                    <div class="project__media project__media--3">
                        <video class="custom-video" src="{{ project.video3.url }}" autoplay muted playsinline loop alt="{{ project.video3.fileName }}"></video>
                    </div>
                {% endif %}
                {% if project.image4 %}
                    <div class="project__media project__media--4"><img src="{{ project.image4.url }}" alt="{{ project.image4.fileName }}"></div>
                {% endif %}
                {% if project.video4 %}
                    <div class="project__media project__media--4">
                        <video class="custom-video" src="{{ project.video4.url }}" autoplay muted playsinline loop alt="{{ project.video4.url }}"></video>
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# Component for the summary #}
{% macro summary(data, summaryTitle) %}
<div class="summary">
    <p class="summary__title">{{ summaryTitle }}</p>
    <ul class="summary__content">
        {% for project in data %}
            <li>{{ project.title }} - {{ project.description }}</li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{# Component for the list of web development projects #}
{% macro webProjects(data) %}
<div class="web-projects">
    {% for project in data %}
        <div class="web-project">
            <div class="web-project__thumbnail">
                <img src="{{ project.thumbnail.url }}" alt="{{ project.thumbnail.fileName }}">
            </div>
            <div class="web-project__content">
                <div class="web-project__header">
                    <h2 class="web-project__title">{{ project.title }}</h2>
                    <div class="web-project__links">
                        {% if project.live %}
                            {{ links.liveLink(project.live) }}
                        {% endif %}
                        {% if project.repo %}
                            {{ links.repoLink(project.repo) }}
                        {% endif %}
                    </div>
                </div>
                <p class="web-project__description">{{ project.description }}</p>
                <div class="web_project__tags">
                    {% for projectTag in project.projectTags %}
                        <span class="web-project__tag">{{ projectTag.title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}