{% import "components/links.njk" as links %}

{# Component for the hero button #}
{% macro heroButton(label, class, link, id) %}
<a class="hero__button {{ class }}" href="{{ link }}" id="{{ id }}"><span>{{ label }}</span></a>
{% endmacro %}

{# Component for the page header #}
{% macro pageHeader(pageTitle, pageIcon) %}
<div class="page-header">
    <h1 class="page-header__title">{{ pageTitle }}</h1>
    <div class="page-header__right">
        {{ links.linkHoverEffect('Go back', '/') }}
        <img class="page-header__icon" src="/assets/images/{{ pageIcon }}.svg" alt="page-icon">
    </div>
</div>
{% endmacro %}

{# Component for the gallery #}
{% macro gallery(data) %}
<div class="gallery" id="gallery">
    {% for project in data | sortByOrder %}
        <div class="project {{ project.data.variant }}" id="project">
            {% if project.data.image1 %}
                <div class="project__media project__media--1"><img src="/assets/images/graphic-design/{{ project.data.image1 }}" alt="gallery-image"></div>
            {% endif %}
            {% if project.data.video1 %}
                <div class="project__media project__media--1">
                    <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video1 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                    {% if project.data.unmuteButton1 %}
                        <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                    {% endif %}
                </div>
            {% endif %}
            {% if project.data.image2 %}
                <div class="project__media project__media--2"><img src="/assets/images/graphic-design/{{ project.data.image2 }}" alt="gallery-image"></div>
            {% endif %}
            {% if project.data.video2 %}
                <div class="project__media project__media--2">
                    <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video2 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                    {% if project.data.unmuteButton2 %}
                        <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                    {% endif %}
                </div>
            {% endif %}
            {% if project.data.rightSide %}
                <div class="project__right">
                    {% if project.data.image3 %}
                        <div class="project__media project__media--3"><img src="/assets/images/graphic-design/{{ project.data.image3 }}" alt="gallery-image"></div>
                    {% endif %}
                    {% if project.data.video3 %}
                        <div class="project__media project__media--3">
                            <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video3 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                            {% if project.data.unmuteButton3 %}
                                <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if project.data.image4 %}
                        <div class="project__media project__media--4"><img src="/assets/images/graphic-design/{{ project.data.image4 }}" alt="gallery-image"></div>
                    {% endif %}
                    {% if project.data.video4 %}
                        <div class="project__media project__media--4">
                            <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video4 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                            {% if project.data.unmuteButton4 %}
                                <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {% if project.data.image3 %}
                    <div class="project__media project__media--3"><img src="/assets/images/graphic-design/{{ project.data.image3 }}" alt="gallery-image"></div>
                {% endif %}
                {% if project.data.video3 %}
                    <div class="project__media project__media--3">
                        <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video3 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                        {% if project.data.unmuteButton3 %}
                            <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                        {% endif %}
                    </div>
                {% endif %}
                {% if project.data.image4 %}
                    <div class="project__media project__media--4"><img src="/assets/images/graphic-design/{{ project.data.image4 }}" alt="gallery-image"></div>
                {% endif %}
                {% if project.data.video4 %}
                    <div class="project__media project__media--4">
                        <video class="custom-video" src="/assets/images/graphic-design/{{ project.data.video4 }}" autoplay muted playsinline loop alt="gallery-video"></video>
                        {% if project.data.unmuteButton4 %}
                            <button class="unmute-button"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><g id="_icons"><path d="M14.6 4.6c-.9-.6-2.1-.8-3.1-.4-1.1.4-2.1.9-2.9 1.6L6.2 7.6H5c-1.7 0-3 1.3-3 3v2.9c0 1.7 1.3 3 3 3h1.2l2.3 1.8c.9.7 1.9 1.2 2.9 1.6.4.1.8.2 1.2.2.7 0 1.4-.2 2-.6.9-.6 1.4-1.6 1.4-2.7V7.3c0-1.1-.5-2.1-1.4-2.7zm-9.1 9.8H5c-.6 0-1-.4-1-1v-2.9c0-.6.4-1 1-1h.5v4.9zm8.5 2.3c0 .4-.2.8-.6 1-.4.3-.9.3-1.3.2-.9-.3-1.7-.8-2.4-1.3l-2.2-1.7V9.1l2.2-1.7c.7-.6 1.5-1 2.4-1.3.4-.2.9-.1 1.3.2.3.2.6.6.6 1v9.4zM21.4 12l.7-.7c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-.7.7-.7-.7c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l.7.7-.7.7c-.4.4-.4 1 0 1.4.2.2.5.3.7.3s.5-.1.7-.3l.7-.7.7.7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4l-.7-.7z"/></g></svg></button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# Component for the summary #}
{% macro summary(data, summaryTitle) %}
<div class="summary">
    <p class="summary__title">{{ summaryTitle }}</p>
    <ul class="summary__content">
        {% for project in data | sortByOrder %}
            <li>{{ project.data.title }} - {{ project.data.description }}</li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{# Component for the list of web development projects #}
{% macro webProjects(data) %}
<div class="web-projects">
    {% for project in data | sortByOrder %}
        <div class="web-project">
            <div class="web-project__thumbnail">
                <img src="/assets/images/web-development/{{ project.data.thumbnail }}" alt="web-development-project-thumbnail">
            </div>
            <div class="web-project__content">
                <div class="web-project__header">
                    <h2 class="web-project__title">{{ project.data.title }}</h2>
                    <div class="web-project__links">
                        {% if project.data.live %}
                            {{ links.liveLink(project.data.live) }}
                        {% endif %}
                        {% if project.data.repo %}
                            {{ links.repoLink(project.data.repo) }}
                        {% endif %}
                    </div>
                </div>
                <p class="web-project__description">{{ project.data.description }}</p>
                <div class="web_project__tags">
                    {% for projectTag in project.data.projectTags %}
                        <span class="web-project__tag">{{ projectTag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}