{# Component for the link hover effect #}
{% macro linkHoverEffect(label, link, orientation) %}
<a class="link-hover" href="{{ link }}">
    <span class="link-hover__label">{{ label }}</span>
    <svg class="link-hover__svg {{ orientation }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.858 16.704"><path fill="none" stroke="#3fd9ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8.352h15.858M9.92 1.414l6.938 6.938L9.92 15.29" data-name="Icon akar-arrow-up"/></svg>
</a>
{% endmacro %}

{# Component for the live link #}
{% macro liveLink(link) %}
<a class="live-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
    <span class="live-link__label">live</span>
    <svg class="live-link__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.858 16.704"><path fill="none" stroke="#3fd9ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8.352h15.858M9.92 1.414l6.938 6.938L9.92 15.29" data-name="Icon akar-arrow-up"/></svg>
</a>
{% endmacro %}

{# Component for the repo link #}
{% macro repoLink(link) %}
<a class="repo-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
    <span class="repo-link__label">repo</span>
    <svg class="repo-link__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.557 21.025"><path fill="#3fd9ee" d="M10.778 0A10.779 10.779 0 0 0 7.37 21c.539.094.741-.229.741-.512 0-.256-.013-1.1-.013-2.007-2.708.5-3.409-.66-3.624-1.266a3.919 3.919 0 0 0-1.1-1.522c-.377-.2-.916-.7-.013-.714a2.157 2.157 0 0 1 1.657 1.1 2.3 2.3 0 0 0 3.139.889 2.267 2.267 0 0 1 .687-1.442c-2.4-.269-4.9-1.2-4.9-5.322a4.2 4.2 0 0 1 1.1-2.9 3.873 3.873 0 0 1 .103-2.844s.9-.283 2.964 1.1a10.162 10.162 0 0 1 5.389 0c2.061-1.4 2.964-1.1 2.964-1.1a3.873 3.873 0 0 1 .108 2.856 4.17 4.17 0 0 1 1.1 2.9c0 4.136-2.519 5.052-4.918 5.322a2.552 2.552 0 0 1 .728 1.994c0 1.442-.013 2.6-.013 2.964 0 .283.2.62.741.512A10.784 10.784 0 0 0 10.778 0Z" data-name="Icon akar-github-fill"/></svg>
</a>
{% endmacro %}

{# Component for the social link #}
{% macro socialLink(link, social) %}
<a class="live-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
    <span class="live-link__label">{{ social }}</span>
    <svg class="live-link__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.858 16.704"><path fill="none" stroke="#3fd9ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8.352h15.858M9.92 1.414l6.938 6.938L9.92 15.29" data-name="Icon akar-arrow-up"/></svg>
</a>
{% endmacro %}

{# Component for the recording link #}
{% macro recordingLink(link) %}
<a class="recording-link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
    <span class="recording-link__label">recording</span>
    <svg class="recording-link__svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="#3fd9ee" fill-rule="evenodd" d="M2 9a4 4 0 0 1 4-4h7a4 4 0 0 1 4 4v.072l3.202-1.84A1.2 1.2 0 0 1 22 8.271v7.477a1.2 1.2 0 0 1-1.694 1.093l-3.32-1.5A4 4 0 0 1 13 19H6a4 4 0 0 1-4-4V9Zm15 4.154 3 1.356V9.654l-3 1.725v1.775ZM15 9a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9Z" clip-rule="evenodd"/></svg>
</a>
{% endmacro %}