<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/dist/reset.css">
    <link rel="stylesheet" href="/assets/styles/dist/main.css">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png" />
</head>
<body class="{{ theme }}">
    <div class="body__inner">
        <div class="loader__container" id="loadingScreen">
            <div class="loader">
                <img class="loader__animation" src="/assets/images/loader.gif">
                <p class="loader__message" id="loadingMessage">Loading your experience...</p>
            </div>
        </div>
        {% block body %}
            {{ content | safe }}
        {% endblock body %}
    </div>
    <script src="/assets/scripts/loadingPage.js"></script>
    <script src="/assets/scripts/messages.js"></script>
</body>
</html>