<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/dist/reset.css">
    <link rel="stylesheet" href="/assets/styles/dist/main.css">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="body__inner {{ theme }}">
        {% block body %}
            {{ content | safe }}
        {% endblock body %}
    </div>
</body>
</html>