{% extends "layouts/base.njk" %}

{% block body %}
    {% include "partials/header.njk" %}
    <main>
        <div class="main__inner">
            {% block main %}
            {{ content | safe }}
            {% endblock main %}
        </div>
    </main>
    {% include "partials/footer.njk" %}
{% endblock body %}